Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
target/
target/generated-sources
/pom.xml.versionsBackup
testcontainer-bom/pom.xml.versionsBackup
testcontainer-extension/pom.xml.versionsBackup
integration-test-example/pom.xml.versionsBackup

